body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 0;
    padding: 0;
}

header h1 {
    text-align: center;
    margin-bottom: 20px;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    justify-content: center;
}

.carousel-track {
    display: flex;
    gap: 16px;
    padding-right: 27px;
    padding-left: 27px;
} 

.card {
    flex: 0 0 auto;
    width: 550px;
    height: 500px;
    background: url('/image1.jpg') center/cover no-repeat;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-end;
}

.card-content {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}


.card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media (max-width: 768px) {
  .card {
    width: 300px;
  }
}

@media (max-width: 480px) {
  .card {
    width: 90%;
  }
}